
<ul id="mainmenu" class="nav nav-tabs">
    <li><a href="{{path('atletas_panel')}}" id="home">Inicio</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><span>Administraci&oacute;n de Datos<b class="caret"></b></span></a>
        <ul class="dropdown-menu"> 
              <li><a href="{{path('admin_usuarios')}}" id="admuser">Usuarios</a></li>
              <li><a href="{{path('admin_deporte')}}" id="admdep">Deporte </a></li>            {#panel.php?op=lstdep#}
              <li><a href="{{path('admin_modalidad')}}" id="admmod">Modalidad</a></li>         {#panel.php?op=lstmod#}
              <li><a href="{{path('admin_seleccion')}}" id="admsel">Selecci&oacute;n</a></li>  {#panel.php?op=lstsel#}
         </ul>
    </li>
   <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Atletas<b class="caret"></b></span> </a>
       <ul class="dropdown-menu">
       <li><a href="{{path('atletas_panel')}}" id="addatl">Agregar Nuevo</a> </li>{# panel.php?op=addper#}
       <li><a href="{{path('atletas_panel')}}" >Listado General</a> </li> {# panel.php?op=lstatl#}
       <li><a href="{{path('atletas_panel')}}" id="paratl">Participaci&oacute;n </a> </li> {# panel.php?op=lstpar#}
       </ul>
  </li>
  <li class="dropdown"> 
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span> Buscar</span> </a>
	 <ul class="dropdown-menu">
         <li><a href="{{path('atletas_panel')}}" id="srchatlci">Por Atleta CI</a></li> {# panel.php?op=srcatlci #}
         <li><a href="{{path('atletas_panel')}}" id="srchatln">Por Atleta Nombre/Apellido</a></li> {# panel.php?op=srcatln #}
         <li><a href="{{path('atletas_panel')}}" id="srchdep">Por Deporte</a></li> {# panel.php?op=srcdep#}
         <li><a href="{{path('atletas_panel')}}" id="srchmod">Por Modalidad</a></li>  {# panel.php?op=srcmod #}
  	</ul>
   </li> 
    <li><a href="{{path('atletas_panel')}}" id="sclose">Cerrar Sesi&oacute;n</a></li> {# logout.php#}
</ul>
